{% extends 'base.html.twig' %}

{% block title %}{{ 'common.calendar'|trans }}{% endblock %}

{% block body %}

    <h1 class="border-bottom">{{ Calendar | trans}}</h1>
    
    <div class="row">
        <div class="col-sm-12 justify-self-right"><small>{{ date|date('m/d/Y') }}</small></div>
    </div>
    
    <details>
        <summary th:text="Instructions" />
        <p th:utext="${content}" />
    </details>

    <div class="row">
        <div class="col">
            <a th:href="@{'/calendar'(month=${prev_month},year=${prev_year})}"><i
                    class="fs-1 bi-caret-left"></i></a>
        </div>
        <div class="col">
            <h2 class="text-center" th:text="${month} + ' ' + ${year}"/>
        </div>
        <div class="col text-end">
            <a th:href="@{'/calendar'(month=${next_month},year=${next_year})}"><i
                    class="fs-1 bi-caret-right"></i></a>
        </div>
    </div>

    <div class="row row-cols-7">
        <div class="col border border-dark" th:each="day : ${day_names}">
            <p class="d-none d-sm-block font-weight-bold text-uppercase text-center" th:text="${day}"/>
            <p class="d-block d-sm-none font-weight-bold text-uppercase text-center" th:text="${day[0]}"/>
        </div>
    </div>
    <div class="row row-cols-7" th:each="week : ${#numbers.sequence(0,weeks_in_month-1)}">
        <div class="col border border-dark p-0 overflow-auto" style="height:125px;"
             th:each="day : ${#numbers.sequence(0,6)}">
            <div th:if="${cal_arr[week][day]}" th:with="cal_day=${cal_arr[week][day]}" class="h-100" th:classappend="${cal_day.past} ? 'bg-body-secondary'">
                <div class="row m-0 p-1 fw-bold"
                     th:classappend="${cal_day.hasApprovedRequests} ? 'bg-warning bg-opacity-25'">
                    <div class="col ms-0 ps-0"
                         th:title="${cal_day.hasApprovedRequests} ? 'Some vehicle trips or requests have already been approved for this day'">
                        <span th:text="${cal_day.day}"/>
                    </div>
                    <div class="col text-end me-0 pe-0">
                        <a th:href="@{'/trip/request'(year=${year},month=${current_month},day=${cal_day.day})}"
                           th:if="!${cal_day.past}"
                           title="Request vehicle for this day"><i
                                class="bi-car-front"></i></a>
                        <a sec:authorize="hasRole('CAMPUS_SAFETY')"
                           th:href="@{'/trip'(year=${year},month=${current_month},day=${cal_day.day})}"
                           title="Log trip for this day"><i
                                class="bi-car-front-fill"></i></a>
                    </div>
                </div>
                <ul class="list-unstyled m-1"
                    th:each="trip : ${cal_day.trips}">
                    <li class="border rounded px-1 calendar-trip bg-info bg-opacity-25 border-info">
                        <p class="col p-0"
                           th:if="${trip.isMultiDay}"
                           th:text="${#temporals.format(trip.startDateTime, 'M/d')} +'-'+ ${#temporals.format(trip.endDateTime, 'M/d')}"/>
                        <a class="me-2"
                           th:href="@{'/trip'(id=${trip.id})}" th:text="${trip.id}"/><span
                            th:text="${trip.type} + ' ' + ${trip.note}"/>
                    </li>
                </ul>
                <ul class="list-unstyled m-1"
                    th:each="request : ${cal_day.requests}"
                    th:with="color=${bootstrapColors.get(request.status)}">
                    <li th:class="'border rounded bg-opacity-25 px-1 calendar-trip bg-' + ${color} + ' border-' + ${color}">
                        <div class="row m-0 p-0">
                            <span class="col p-0"
                                  th:if="${request.isMultiDay}"
                                  th:text="${#temporals.format(request.requestDateTime, 'M/d')} +'-'+ ${#temporals.format(request.expectedReturnDateTime, 'M/d')}"/>
                        </div>
                        <div class="d-flex flex-row m-0 p-0  justify-content-between">
                            <span class="p-0 font-weight-bold" th:text="${request.status}"/>
                            <a sec:authorize="hasRole('CAMPUS_SAFETY')"
                               th:href="@{'/trip'(request_id=${request.id})}"
                               title="Log trip for this request"><i
                                    class="text-dark bi-car-front-fill"></i></a>
                        </div>
                        <a class="me-2"
                           th:href="@{'/trip/request'(id=${request.id})}" th:text="${request.id}"/>
                        <th:block sec:authorize="hasRole('CAMPUS_SAFETY')">
                            <span
                                    th:text="${request.user.firstName} + ' ' + ${request.user.lastName}"/></th:block>
                        <th:block sec:authorize="!hasRole('CAMPUS_SAFETY')">
                            <span
                                    th:text="${request.destination}"/>
                        </th:block>
                        </a>
                    </li>
                </ul>
            </div>
            <div th:unless="${cal_arr[week][day]}" class="h-100">&nbsp;</div>
        </div>
    </div>
    
{% endblock %}

{% block modal_text %}
    <p>Calendar</p>
{% endblock %}