{#
/*
 * This file is part of open-bike.
 *
 * (c) Betsy Gamrat <betsy.gamrat@wirehopper.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
#}
<footer class="fixed-bottom mb-5 text-center">{{ 'Powered by' | trans }} <a href="https://github.com/bgamrat/open-bike">open-bike</a> {{ 'Copyright' | trans }} &copy; 2024 - {{ 'now'|date("Y") }} </footer>
