{% extends '@EasyAdmin/layout.html.twig' %}

{% block main %}
    Dashboard will be here - for now click on <a href="/admin?crudAction=index&crudControllerFqcn=App%5CController%5CAdmin%5CBikeCrudController">Bikes</a>
{% endblock main %}
