{#
/*
 * This file is part of open-bike.
 *
 * (c) Betsy Gamrat <betsy.gamrat@wirehopper.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
#}
{% extends '@EasyAdmin/layout.html.twig' %}

{% block main %}
    Dashboard will be here - for now click on <a href="/admin?crudAction=index&crudControllerFqcn=App%5CController%5CAdmin%5CBikeCrudController">Bikes</a>
{% endblock main %}
