{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% set files = field.formattedValue %}
{% if files is not iterable %}
    {% set files = [files] %}
{% endif %}

<ul>
{% for file in files %}
    <li>{{ file }}</li>
{% endfor %}
</ul>

