/*
 * This file is part of open-bike.
 *
 * (c) Betsy Gamrat <betsy.gamrat@wirehopper.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

:root {
    
}

#calendar,
#calendar .btn.btn-sm {
    font-size: .7rem;
}

.day {
    min-height: 10cqw;
}

.required::before {
    color:#800;
    content:"* ";
}
