{% extends 'base.html.twig' %}

{% block title %}{{ 'Thank you' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Thank you'| trans }}</h1>
    <p>{{ 'contact_thank_you' | trans }}</p>
{% endblock %}