{# empty Twig template #}
{# templates/blog/layout.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'Hello' | trans }} {{ name }}</h1>

    {% block page_contents %}{% endblock %}
{% endblock %}