{#
/*
 * This file is part of open-bike.
 *
 * (c) Betsy Gamrat <betsy.gamrat@wirehopper.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
#}
{% extends 'base.html.twig' %}

{% block title %}{{ 'Request a bike' | trans }}{% endblock %}
{% block body %}

    <article>
        <h1>{{ 'Request a bike' | trans }}</h1>
        {% if not coopStatus.isOpen %}
            <div class="row">
                <div class="col">
                    <div class="alert alert-warning my-2" role="alert">
                        {{ coopStatus.message | trans }}
                    </div>
                </div>
            </div>
        {% else %}
            {% if not coopStatus.bikesAvailable %}
                <div class="row">
                    <div class="col">
                        <div class="alert alert-info my-2" role="alert">
                            {{ 'no_bikes'| trans }}
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col">
                        <section id="request">
                            {% include 'bike_request/form.html.twig' %}
                        </section>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </article>
{% endblock %}